.center {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.center-mobile {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Abel', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p,
a {
  line-height: 1.5;
  font-size: 1.6rem;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav h2 {
  font-family: "Shadows Into Light", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 3rem;
  width: 30%;
  margin-top: 1.5%;
}
nav .nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 0.5%;
}
nav .nav-bar a {
  width: 10%;
  text-decoration: none;
  padding-top: 1.5%;
  align-items: center;
  justify-content: center;
  margin: 0.5% 0 0 0;
  font-size: 2rem;
  color: black;
}
nav div.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  margin-top: 1%;
}
nav div.btn button {
  background-color: #d9d9d9;
  cursor: pointer;
  width: 100px;
  font-size: 2rem;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.6rem;
  padding-top: 8%;
  padding-bottom: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav div.btn button:active {
  color: black;
  background-color: white;
}
nav div.btn button:hover {
  background-color: darkgray;
  color: black;
}
header {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 8% 5% 8%;
  background-color: #d9d9d9;
}
header .image-box .widescreen-img {
  max-width: 90%;
}
header .image-box h1 {
  text-align: center;
  padding-bottom: 4%;
  font-size: 3rem;
}
header .image-box p {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
}
header .quotes {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .quotes p {
  width: 50%;
  text-align: center;
  font-size: 2rem;
}
.top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f9c400;
}
.top-section .laptop-pic {
  max-width: 55%;
}
.top-section .content {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 2%;
}
.top-section .content p {
  font-size: 2rem;
}
.middle-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #4484ce;
}
.middle-section .people-pic {
  max-width: 55%;
}
.middle-section .mid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 10%;
}
.middle-section .mid-content p {
  font-size: 2rem;
}
.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f19f4d;
}
.bottom-section .laptop-pic {
  max-width: 55%;
}
.bottom-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 2%;
}
.bottom-section .content p {
  font-size: 2rem;
}
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: darkslategrey;
}
.categories {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
}
.categories .box {
  height: 15%;
  width: 25%;
  margin: 2%;
}
.sign-bot {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.sign-bot button {
  background-color: #d9d9d9;
  cursor: pointer;
  width: 100px;
  font-size: 2rem;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.6rem;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sign-bot button:active {
  color: black;
  background-color: white;
}
.sign-bot button:hover {
  background-color: darkgray;
  color: black;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: orangered;
  color: white;
  padding: 12px 20px;
  border: 1px solid black;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: red;
}
label {
  font-size: 1.5rem;
}
.contact-top {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.contact-top .contact-head {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
.row {
  display: flex;
  justify-content: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.contact-header {
  margin-bottom: 3%;
  background: #f2f2f2;
  padding-top: 2%;
  padding-bottom: 2%;
}
.team1 {
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}
.team1 h3 {
  font-size: 3rem;
  margin-top: 4%;
}
.team1 div {
  text-align: center;
}
.team1 div p {
  margin: 0 auto;
  padding-top: 3%;
  width: 70%;
}
.team2 {
  background: #f2f2f2;
  padding-top: 3%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}
.team2 h3 {
  font-size: 3rem;
  margin-top: 3%;
}
.team2 div {
  text-align: center;
}
.team2 div p {
  margin: 0 auto;
  margin-top: 2%;
  width: 70%;
}
.portrait {
  border-radius: 5px;
  width: 80%;
}
@media (max-width: 500px) {
  nav {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
  }
  nav div {
    width: 100%;
    border-top: 1px solid black;
  }
  nav h2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  nav a {
    width: 100%;
    font-size: 3rem;
  }
  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .team1 {
    flex-direction: column;
  }
  .team2 {
    flex-direction: column;
  }
}
