header {
  .display(column, center, center);

  div {
    .display(column, center, center);

    padding: 2% 8% 5% 8%;
    background-color: lightgray;

    .widescreen-img {
      max-width: 90%;
    }

    h1 {
      text-align: center;
      padding-bottom: 4%;
      font-size: 3rem;
    }
    p {
      .center();
      font-size: 1.6rem;
    }
  }
}

.top-section {
  .display(row, center, center);

  h1 {
  }
}
