// Navigation Styles here

nav {
    
background: orangered;
display: flex;

div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: .5%;
    h2 {
        font-family: 'Shadows Into Light', cursive;
        color: white;
        font-size: 6.5rem;
    }
    a{
        width: 10%;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        margin: .5% 0 0 0;
        font-size: 4rem;
        color: white;
        // font-family: 'Shadows Into Light', cursive;
    }
    button {
        .button(black, white, 150px);
        margin-top: 1%;
        margin-bottom: 1%;
        
    }
           
}

 
}
