// Navigation Styles here

nav {
  display: flex;
  justify-content: space-around;

  h2 {
    font-family: "Shadows Into Light", cursive;
    .display(row, center, center);
    color: gray;
    font-size: 3rem;
    width: 30%;
    margin-top: 1.5%;
  }
  .nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 0.5%;
    a {
      width: auto;
      text-decoration: none;
      padding-top: 1.5%;
      align-items: center;
      justify-content: center;
      margin: 0.5% 0 0 0;
      font-size: 2rem;
      color: black;
      // font-family: "Shadows Into Light", cursive;
    }
  }
  div.btn {
    .display(column-reverse, center, center);
    margin-right: 2%;
    margin-top: 1%;
    a {
      text-decoration: none;
      text-align: center;
    }

    button {
      .button(#f9c400, black, 100px);

      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 1.6rem;
      padding-top: 8%;
      padding-bottom: 8%;
      .display(row, center, center);
      &:hover {
        background-color: darkgray;
        color: black;
      }
    }
  }
}
